extend layout_about

block body
    body
        div(class="header")            
            div(class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed")                
                a(href="/")
                    img(class="" src="./images/__avacc-logo blanco.png" width="7%" height="7%" alt="AVACC")
                //-    span(style="color: #ed6d05;") A
                //-    span(style="color: #03a85f;") V
                //-    span(style="color: #ed6d05;") A
                //-    span(style="color: white") CC

                ul(class="pure-menu-list")
                    li(class="pure-menu-item")
                        //pure-menu-selected
                        a(href="/donate" class="pure-menu-link") Alta
                    li(class="pure-menu-item")
                        a(href="https://docs.google.com/forms/d/e/1FAIpQLSeVhq1uXu0V_uaEUxIOmP42W5aJQcdjgwCe4Cn7U861oAzRkw/viewform" class="pure-menu-link") Baja

        div(class="splash-container")
            div(class="splash")
                h1(class="splash-head") ¿Como sería tu calidad de vida?
                p(class="splash-subhead").
                    Sin el puente del KM 26.<br>
                    Si quitan la loma que te protege.<br>
                    Con una carretera elevada.<br>
                    Con atascos diarios cerca de tu casa.<br>
                    Con un colegio lleno de ruidos y humos.
                p
                    a(href="/donate" class="pure-button pure-button-primary") Hazte Socio

        div(class="content-wrapper")
            div(class="content avacc_body")
                div(class="content-head is-center")
                    h2 Miembros de la Junta directiva                
                    div(class="l-box pure-u-1 pure-u-md-1-1 pure-u-lg-1-1" style="text-align: center")
                        img(alt="Junta Directiva" class="pure-img-responsive" src="./images/junta_directiva.png")
                    //-
                        h3
                            spam(style="color: black;") Presidente: 
                            spam Fernando Lopez-Palao Herrera-Davila 
                        h3
                            spam(style="color: black;") Vice-Presidente: 
                            spam Juan Luís Merle García del Pino
                        h3
                            spam(style="color: black;") Secretario: 
                            spam Jaime Moreno Alonso de Celada
                        h3
                            spam(style="color: black;") Vice-Secretario: 
                            spam Henar Bonilla Martí
                        h3
                            spam(style="color: black;") Tesorero: 
                            spam Bettina Marty Cuatico
                        h3
                            spam(style="color: black;") Vice-Tesorero: 
                            spam Germán Alfredo Palma Roisman
                        h3
                            spam(style="color: black;") Vocales
                            ul
                                li Miguel Ángel Martín-Perdiguero
                                li Marcial Zamorano Ontañón
                                li José Andrés Gómez Tovar
                                li Ruben Castro Buzón
                                li Oscar Hidalgo Gonzalez
                                li Francisco Jose Jurado Dominguez
                                li Antonio Reyes Valverde

                div(class="pure-g")
                    div(class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4")
                        h3(class="content-subhead")
                            i(class="fa fa-rocket")
                            .
                                Defendemos tu entorno
                        p Con tu apoyo y colaboración haremos que Club de Campo sea un sitio mejor donde vivir.
                    div(class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4")
                        h3(class="content-subhead")
                            i(class="fa fa-mobile")
                            .
                                "NO" al aislamiento
                        p Porque las urbanizaciones pese a estar lejos y mal comunicadas también pertenecen a San Sebastián de los Reyes.
                    div(class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4")
                        h3(class="content-subhead")
                            i(class="fa fa-th-large")
                            .
                                Por la comunidad
                        p Por las familias, por los vecinos y por el colegio.
                    div(class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4")
                        h3(class="content-subhead")
                            i(class="fa fa-check-square-o")
                            .
                                Ayúdanos
                        p Hazte socio, participa de las asambleas. Ayudándonos te ayudas a ti y a tu familia y amigos.


            div(class="ribbon l-box-lrg pure-g")
                div(class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5")
                    img(alt="Planos" class="pure-img-responsive" src="images/plano.PNG")
                div(class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5")
                    h2(class="content-head content-head-ribbon") Nuestros principios
                    p.
                        AVACC nace con el firme propósito de defender los intereses de todos los vecinos de la Urbanización Club de Campo de San Sebastián de los Reyes (Madrid). Nuestra principal inquietud hoy es la inminente obra de ampliación de la A1 y la construcción de la nueva variante porque NO queremos que nos perjudique en modo alguno. Necesitamos de tu colaboración. Asóciate y podremos defender mejor los intereses de todos.
                        Por supuesto, no queremos que nuestra actividad sea exclusivamente esta, aunque sea ahora nuestra prioridad. Pretendemos perdurar en el tiempo como una asociación vecinal sólida y fuerte ante el Ayuntamiento de San Sebastián de los Reyes y la Comunidad de Madrid, persiguiendo lo mejor para los vecinos de Club de Campo y para todos los amigos que nos visitan y quieran ayudarnos.

            div(class="content")
                h2(class="content-head is-center") Síguenos en:

                div(class="pure-g")

                    div(class="l-box-lrg pure-u-1 pure-u-md-2-5")
                        ul(class="social-icons" style="text-align: center;")
                            li
                                a(href="https://www.facebook.com/AVACC-1639021659525422")
                                    i(class="fa fa-facebook")
                            li
                                a(href="https://twitter.com/ava_clubcampo?ref_src=twsrc%5Etfw")
                                    i(class="fa fa-twitter")
                            li
                                a(href="https://www.instagram.com/ava_clubcampo/")
                                    i(class="fa fa-instagram")
                    div(class="l-box-lrg pure-u-1 pure-u-md-1-5").
                        Nuestro correo electrónico <a href="mailto:contactar@avacc.org" style="color: #03a85f;"> contactar@avacc.org</a>
                    
                    div(class="l-box-lrg pure-u-1 pure-u-md-2-5")
                            h4 Más contactos
                            p.
                                Hablaremos con la Entidad de Conservación, pregúntales.<br>
                                Hablaremos con los presidentes de las comunidades, pregúntales<br>

                    //-
                        div(class="l-box-lrg pure-u-1 pure-u-md-2-5")
                            form(class="pure-form pure-form-stacked")
                                fieldset
                                    label(for="name") Your Name
                                    input(id="name" type="text" placeholder="Your Name" autocomplete='name')


                                    label(for="email") Your Email
                                    input(id="email" type="email" placeholder="Your Email" autocomplete='email')

                                    label(for="password") Your Password
                                    input(id="password" type="password" placeholder="Your Password" autocomplete='password')

                                    button(type="submit" class="pure-button") Sign Up

                        div(class="l-box-lrg pure-u-1 pure-u-md-3-5")
                            h4 Contact Us
                            p.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.

                            h4 More Information
                            p.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.

            div(class="footer l-box is-center").
                Urbanización Club de Campo. San Sebastián de los Reyes
