extend layout_about

block body
    body
        div(class="header")            
            div(class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed")
                div(class="pure-g")
                    div(class="pure-u-1 pure-u-md-1-2")
                        a(href="/")
                            img(class="" src="./images/__avacc-logo_blanco.png" width="96" height="40" alt="AVACC")
                        //-
                            div(class="pure-g")
                                a(class="pure-menu-heading" href="/")
                                    div(class="pure-u-1 pure-u-md-1-8")
                                        img(class="pure-img-responsive" src="./images/__avacc-logo_blanco.png" alt="AVACC")
                    div(class="pure-u-1 pure-u-md-1-2")
                        ul(class="pure-menu-list")
                            li(class="pure-menu-item")
                                //pure-menu-selected
                                a(target="_blank" href="./alta" class="pure-menu-link") Alta
                            li(class="pure-menu-item")
                                a(target="_blank" href="./baja" class="pure-menu-link") Baja

        div(class="splash-container")
            div(class="splash")
                h1(class="splash-head") ¿Como sería tu calidad de vida?
                p(class="splash-subhead").
                    Con un colegio lleno de ruidos y humos.<br>
                    Si quitan la loma que te protege.<br>
                    Con una carretera elevada.<br>
                    Con el caos de un túnel.<br>
                    Con una autopista de 80km/h.<br>
                    Con atascos diarios cerca de tu casa.
                p
                    a(href="/donate" class="pure-button pure-button-primary") Hazte Socio

        div(class="content-wrapper")
            div(class="content avacc_body")
                div(class="content-head is-center")
                    h2 Miembros de la Junta directiva                
                    div(class="l-box pure-u-1 pure-u-md-1-1 pure-u-lg-1-1" style="text-align: center")
                        img(alt="Junta Directiva" class="pure-img-responsive" src="./images/web-junta-directiva-avacc-img.png")

                div(class="pure-g")
                    div(class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4")
                        h3(class="content-subhead")
                            i(class="fa fa-rocket")
                            .
                                Defendemos tu entorno
                        p Con tu apoyo y colaboración haremos que Club de Campo sea un sitio mejor donde vivir.
                    div(class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4")
                        h3(class="content-subhead")
                            i(class="fa fa-mobile")
                            .
                                "NO" al aislamiento
                        p Porque las urbanizaciones pese a estar lejos y mal comunicadas también pertenecen a San Sebastián de los Reyes.
                    div(class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4")
                        h3(class="content-subhead")
                            i(class="fa fa-th-large")
                            .
                                Por la comunidad
                        p Por las familias, por los vecinos y por el colegio.
                    div(class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4")
                        h3(class="content-subhead")
                            i(class="fa fa-check-square-o")
                            .
                                Ayúdanos
                        p Hazte socio, participa de las asambleas. Ayudándonos te ayudas a ti y a tu familia y amigos.


            div(class="ribbon l-box-lrg pure-g")
                div(class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5")
                    img(alt="Planos" class="pure-img-responsive" src="images/plano.PNG")
                div(class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5")
                    h2(class="content-head content-head-ribbon") Nuestros principios
                    p.
                        AVACC nace con el firme propósito de defender los intereses de todos los vecinos de la Urbanización Club de Campo de San Sebastián de los Reyes (Madrid). Nuestra principal inquietud hoy es la inminente obra de ampliación de la A1 y la construcción de la nueva variante porque NO queremos que nos perjudique en modo alguno, además de que cualquier actuación nos debe beneficiar, debemos poder disfrutarla. Necesitamos de tu colaboración. Asóciate y podremos defender mejor los intereses de todos.
                        Por supuesto, no queremos que nuestra actividad sea exclusivamente esta, aunque sea ahora nuestra prioridad. Pretendemos perdurar en el tiempo como una asociación vecinal sólida y fuerte ante el Ayuntamiento de San Sebastián de los Reyes y la Comunidad de Madrid, persiguiendo lo mejor para los vecinos de Club de Campo y para todos los amigos que nos visitan y quieran ayudarnos.

            div(class="content")
                h2(class="content-head is-center") Síguenos en:

                div(class="pure-g")

                    div(class="l-box-lrg pure-u-1 pure-u-md-2-5")
                        ul(class="social-icons" style="text-align: center;")
                            li
                                a(target="_blank" href="https://fb.me/ava.clubcampo")
                                    i(class="fa fa-facebook")
                            li
                                a(target="_blank" href="https://twitter.com/ava_clubcampo?ref_src=twsrc%5Etfw")
                                    i(class="fa fa-twitter")
                            li
                                a(target="_blank" href="https://www.instagram.com/ava_clubcampo/")
                                    i(class="fa fa-instagram")
                    div(class="l-box-lrg pure-u-1 pure-u-md-1-5").
                        Nuestro correo electrónico <a href="mailto:contactar@avacc.org" style="color: #03a85f;"> contactar@avacc.org</a>
                    
                    div(class="l-box-lrg pure-u-1 pure-u-md-2-5")
                            h4 Más contactos
                            p.
                                Hablaremos con la Entidad de Conservación, pregúntales.<br>
                                Hablaremos con los presidentes de las comunidades, pregúntales<br><br>

                    //-
                        div(class="l-box-lrg pure-u-1 pure-u-md-2-5")
                            form(class="pure-form pure-form-stacked")
                                fieldset
                                    label(for="name") Your Name
                                    input(id="name" type="text" placeholder="Your Name" autocomplete='name')


                                    label(for="email") Your Email
                                    input(id="email" type="email" placeholder="Your Email" autocomplete='email')

                                    label(for="password") Your Password
                                    input(id="password" type="password" placeholder="Your Password" autocomplete='password')

                                    button(type="submit" class="pure-button") Sign Up

                        div(class="l-box-lrg pure-u-1 pure-u-md-3-5")
                            h4 Contact Us
                            p.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.

                            h4 More Information
                            p.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.

            div(class="footer l-box is-center")
                a(target="_blank" href="https://twitter.com/intent/tweet?url=http://www.avacc.org/alta&amp;text=juntos+somos+más&amp;hashtags=NoalNudoClubdeCampo" rel="noreferrer") #NoalNudoClubdeCampo
                p.
                    Urb. Club de Campo. San Sebastián de los Reyes
