
block append articles_about_us
    section(class="post")
        header(class="post-header")
            img(width="72" height="72" alt="Fernando Lopez Palao" class="post-avatar" src="./images/avatar/FernandoLopezPalao.jpg")
            h2(class="post-title") Motivaciones
            p(class="post-meta") Por <a href="#" class="post-author">Presidente</a>
                a(class="post-category" style="background: #03a85f;" href="./donate") ¡¡Apúntate!!
        div(class="post-description")
            div(class="post-images pure-g")
                div(class="pure-u-1 pure-u-md-1-2")
                    p
                        .
                            La <a href="/about" data-tooltip="sobre nosotros">asociación</a> nace con el firme propósito de <span style="font-weight: bold;">defender los intereses de todos los vecinos de la Urbanización Club de Campo </span> de San Sebastián de los Reyes (Madrid).
                             Nuestra principal inquietud hoy es la <span style="font-style: italic; text-decoration: underline;">inminente obra de ampliación de la A1</span> y la construcción de la nueva variante porque <em>NO queremos que nos perjudique</em> en modo alguno,
                              además de que cualquier actuación nos debe beneficiar, debemos poder disfrutarla <a target="_blank" href="https://www.dropbox.com/s/089hsvf6tue0gyz/BOE-A-2015-10439-consolidado.pdf?dl=0">(BOE-A-2015-10439)</a>.
                             Necesitamos de tu colaboración. Asóciate y podremos defender mejor los intereses de todos.
                    p
                        .
                            Por supuesto, no queremos que nuestra actividad sea exclusivamente esta, aunque sea ahora nuestra prioridad. Pretendemos perdurar en el tiempo como una asociación vecinal sólida y fuerte ante el Ayuntamiento de San Sebastián de los Reyes y la Comunidad de Madrid,
                             persiguiendo lo <span style="text-decoration: underline wavy orange;">mejor</span> para los <span style="text-decoration: underline wavy orange;">vecinos</span> de Club de Campo y para todos los
                             <span style="text-decoration: underline wavy orange;">amigos</span> que nos visitan y quieran ayudarnos.
                div(class="pure-u-1 pure-u-md-1-2")
                    a(href="./images/cc_2.jpeg")
                        img(alt="Foto de la urbanización club de campo" class="pure-img-responsive" src="./images/cc_2.jpeg")
                    div(class="post-image-meta")
                        h3(style="color:white; font-weight: bold;") Defendemos tu entorno
