extend layout_pricing

block body
    body(class="pricing_body")
        div(class="pure-menu pure-menu-horizontal")
            a(href="/" class="pure-menu-heading")
                img(class="avacc_logo pure-img" src="./images/__avacc-logo-texto_min.png" alt="AVACC")
            ul(class="pure-menu-list")
                li(class="pure-menu-item")
                    a(target="_blank" href="./alta" class="pure-menu-link" style="color: #ed6d05; font-size: 170%;") Hazte socio

        div(class="banner")
            h1(class="banner-head") Colabora<br>

        div(class="l-content")
            div(class="pricing-tables pure-g")
                a(class="pure-u-1 pure-u-md-1-2" href="/about" data-tooltip="sobre nosotros")
                    img(class="pure-img" src="./images/__avacc-logo-texto_h250.png" alt="AVACC")
                div(class="pure-u-1 pure-u-md-1-2")
                    div(class="pricing-table pricing-table-biz")
                        div(class="pricing-table-header")
                            div(class="pricing_h3")
                                h3 Cuenta Bancaria BBVA
                                p IBAN: ES27 0182 8085 4702 0162 8042
                        h4 Métodos de pago
                        p Transferencia bancaría. Destinatario AVACC
                        p Ingreso a  través de cajero BBVA, gratis
                        p Pago en ventanilla (comisión 2€)
                        p Pago en efectivo, con justificante de pago

                div(class="pure-u-1 pure-u-md-1-1")
                    div(class="pricing-table pricing-table-free")
                        div(class="pricing-table-header")
                            h2(class="pricing_h2") Cuota de socio

                            span(class="pricing-table-price") 20€ <span data-tooltip="Año natural">al año</span>

                        ul(class="pricing-table-list")
                            li Asistir a las asambleas generales con voz y voto
                            li Ocupar los cargos para los que sean elegidos
                            li Disfrutar de los servicios y beneficios que la asociación pueda facilitarles
                            li Participar en las actividades comunes y beneficiarse de sus resultados
                            li Fiscalizar las cuentas
                            li Ofrecer sugerencias o iniciativas a la Junta Directiva y elevar propuestas a la asamblea general
                            li Tienes todos los derechos y obligaciones 
                                a(target="_blank" style="font-weight: bold; color: #03a85f; text-decoration: underline #03a85f;" href="https://www.dropbox.com/s/kc8rr5zm0nkx1zu/Estatutos%20y%20Acta%20fundacional%20-FIRMADOS.pdf?dl=0") aquí

                        div(class="button-choose pure-button")
                            a(target="_blank" href="./alta" style="color: black;") Darme de alta
            div(class="information pure-g")
                div(class="pure-u-1 pure-u-md-1-1")
                    div(class="l-box")
                        h3(class="pricing_h3 information-head") Formas de ayudar
                        p Se puede ayudar de muchas formas.
                        h4 Apoyando a la Junta Directiva
                        p La <a href="/about" style="color: #03a85f;">Junta Directiva</a> la forman vecinos que de forma desinteresada están tratando de representar a toda la comunidad. Hay que ser críticos, desde el agradecimiento y el respeto.
                        h4 Dando a conocer la Asociación
                        p Cuanta más repercusión entre los vecinos y amigos mejor. El objetivo es defender los derechos de todos.
                        h4 Siguiéndonos en las redes sociales
                        p Síguenos y participa.
                        h4 Coordinar actividades
                        div Siendo socio puedes proponer una actividad y liderar el proyecto, por ejemplo:
                            ul
                                li Hacer pancartas
                                li Hacer jornadas de concienciación de un tema
                                li Proponer una reunión en tu comunidad
                                li Dar una charla
                                li Recogida de dinero
                                li Organizar una fiesta, mercadillo, paseo de mascotas, liga de futbol...
                        h4 Donativos
                        p Realizando donaciones puntuales.
                        h4 Participando de las reuniones
                        p Tanto en el centro cultural como en cualquier otro lugar.

            div(class="pure-menu pure-menu-horizontal" style="text-align: center;")
                h4 Síguenos en:
                ul
                    li(class="pure-menu-item")
                        ul(class="social-icons")
                            li
                                a(target="_blank" href="https://fb.me/ava.clubcampo")
                                    i(class="fa fa-facebook")
                            li
                                a(target="_blank" href="https://twitter.com/ava_clubcampo?ref_src=twsrc%5Etfw")
                                    i(class="fa fa-twitter")
                            li
                                a(target="_blank" href="https://www.instagram.com/ava_clubcampo/")
                                    i(class="fa fa-instagram")
                    li(style="margin-top: 1em;")
                        a(href="mailto:contactar@avacc.org" style="color: #03a85f;") contactar@avacc.org

        footer(class="footer l-box")
            div(class="pure-g")
                div(class="pure-u-1 pure-u-md-1-1")
                    div(style="font-weight: bold;" class="pure-menu pure-menu-horizontal")
                        ul
                            li(class="pure-menu-item")
                                a(href="./" class="pure-menu-link") Noticias
                            li(class="pure-menu-item")
                                a(target="_blank" href="./alta" class="pure-menu-link") Darme de alta
                            li(class="pure-menu-item")
                                a(target="_blank" href="./baja" class="pure-menu-link") Darme de baja
                            li(style="color: white") 
                                a(target="_blank" href="https://twitter.com/intent/tweet?url=http://www.avacc.org/alta&amp;text=juntos+somos+más&amp;hashtags=NoalNudoClubdeCampo" rel="noreferrer") #NoalNudoClubdeCampo
                                p.
                                    Urbanización Club de Campo<br>San Sebastián de los Reyes (Madrid)<br>Ctra. A1, Km 26.

                div(class="pure-u-1 pure-u-md-1-3")
                div(class="pure-u-1 pure-u-md-1-3")
                div(class="pure-u-1 pure-u-md-1-3")
                    p(style="color: white") Imagen de cabecera cortesía de <a target="_blank" href='http://unsplash.com/'>Unsplash</a>.
