extends layout

block head_link
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="./stylesheets/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="./stylesheets/marketing.css">
    <!--<![endif]-->
